<div class="root_container">
    <div class="row_">
        <mat-card>
            <mat-card-header>Informations sur la commande</mat-card-header>
            <mat-card-content>
                <div class="not_yet_deliver">
                    <div class="qr_code_container"></div>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-header></mat-card-header>
            <mat-card-content>Lorem ipsum dolor sit amet consectetur adipisicing elit.</mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-header></mat-card-header>
            <mat-card-content>Lorem ipsum dolor sit amet consectetur adipisicing elit.</mat-card-content>
        </mat-card>
    </div>
</div>