<nav class="left-menu">

  <div class="item-menu" routerLinkActive = "active" [routerLink]="['/dashboard']" >
    
    <span class="material-icons ic">
      home
    </span>

    <span class="txt">Dashboard</span>

  </div>


<!--   <div class="item-menu" routerLinkActive = "active" [routerLink]="['/abonnes']" >
    <span class="material-icons ic">
      group
    </span>

    <span class="txt">Suivi des abonnés</span>
  </div>

  <div class="item-menu" routerLinkActive = "active" [routerLink]="['/branchements']" >
    <span class="material-icons ic">
      cable
    </span>

    <span class="txt">Suivi des branch...</span>
  </div>

  <div class="item-menu" routerLinkActive = "active" [routerLink]="['/factures']" >
    <span class="material-icons ic">
      receipt
    </span>

    <span class="txt">Suivi des factures</span>
  </div> -->

  <div class="item-menu" routerLinkActive = "active" [routerLink]="['/materiel']" >
    <span class="material-icons ic">
      Liste
    </span>

    <span class="txt">Suivi des paiements</span>
  </div>

  <!-- <div class="item-menu">
    <span class="material-icons ic">
      insights
    </span>
    <span class="txt">Recap statistiques</span>
  </div> -->


  <div class="account">



  </div>




</nav>
