<div class="root_container">
    <div class="head">
        <mat-icon slot="end" matPrefix class="close">close</mat-icon>
    </div>
    <mat-dialog-content class="content">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum harum delectus culpa non aperiam voluptatem quae, numquam, possimus amet inventore porro atque nihil nobis tenetur vitae. Quod rem impedit cupiditate!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum harum delectus culpa non aperiam voluptatem quae, numquam, possimus amet inventore porro atque nihil nobis tenetur vitae. Quod rem impedit cupiditate!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum harum delectus culpa non aperiam voluptatem quae, numquam, possimus amet inventore porro atque nihil nobis tenetur vitae. Quod rem impedit cupiditate!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum harum delectus culpa non aperiam voluptatem quae, numquam, possimus amet inventore porro atque nihil nobis tenetur vitae. Quod rem impedit cupiditate!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum harum delectus culpa non aperiam voluptatem quae, numquam, possimus amet inventore porro atque nihil nobis tenetur vitae. Quod rem impedit cupiditate!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum harum delectus culpa non aperiam voluptatem quae, numquam, possimus amet inventore porro atque nihil nobis tenetur vitae. Quod rem impedit cupiditate!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum harum delectus culpa non aperiam voluptatem quae, numquam, possimus amet inventore porro atque nihil nobis tenetur vitae. Quod rem impedit cupiditate!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum harum delectus culpa non aperiam voluptatem quae, numquam, possimus amet inventore porro atque nihil nobis tenetur vitae. Quod rem impedit cupiditate!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum harum delectus culpa non aperiam voluptatem quae, numquam, possimus amet inventore porro atque nihil nobis tenetur vitae. Quod rem impedit cupiditate!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum harum delectus culpa non aperiam voluptatem quae, numquam, possimus amet inventore porro atque nihil nobis tenetur vitae. Quod rem impedit cupiditate!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum harum delectus culpa non aperiam voluptatem quae, numquam, possimus amet inventore porro atque nihil nobis tenetur vitae. Quod rem impedit cupiditate!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum harum delectus culpa non aperiam voluptatem quae, numquam, possimus amet inventore porro atque nihil nobis tenetur vitae. Quod rem impedit cupiditate!</p>
    </mat-dialog-content>
    <mat-dialog-actions class="footer">
        <button mat-button mat-dialog-close class="annuler">Annuler</button>
        <button mat-button [mat-dialog-close]="true" cdkFocusInitial class="activer">Activer</button>
    </mat-dialog-actions>
</div>