<div class="card">


  <mat-progress-spinner class = "registering" [mode] = "'indeterminate'" *ngIf = "showSpinner" ></mat-progress-spinner>

  <form>
    <!-- <form [formGroup]="formGroup"> -->


      <div class="banner" style = "text-align: center;">Enregistrement</div>

    <div class="form-group p-4" *ngIf="!showSpinner">

      <!-- Nature -->
      <!-- <div class="form-item">
        <mat-form-field appearance="fill">
          <mat-label>Nature du matériel</mat-label>
          <mat-select name = "natureMat" [(ngModel)]="dataMateriel.natureMat">
            <!-- <mat-option *ngFor="let role of roles" [value]="role.id">
              {{role.name}}
            </mat-option> -- >
            <mat-option>Informatique</mat-option>
            <mat-option>Administratif</mat-option>
          </mat-select>
        </mat-form-field>
      </div> -->


      <!-- Materiel -->
      <div class="form-item">
        <mat-form-field appearance="fill">
          <mat-label>Materiel</mat-label>
          <mat-select name = "natureMat" [(ngModel)]="dataDemande.materiel">
            <mat-option *ngFor="let materiel of materiels" [value]="materiel.idMat">
              {{materiel.libelleMat}}
            </mat-option>
            <!-- <mat-option>HP</mat-option> -->
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-item">
        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <textarea matInput name = "describDemande" [(ngModel)]="dataDemande.descriptionEtatBesoin"></textarea>
        </mat-form-field>
      </div>





    </div>

    <div class="btn-group p-4">
      <button class="annuler" (click) = "cancelCreation()">Annuler</button>
      <button type="submit" (click) = "registerDemande()">Valider</button>
      <!-- <button type="submit" >Valider</button> -->
    </div>

  </form>

</div>
