<div class="login-container">
</div>
  <div class="banner" *ngIf="showBanner">
    {{text}}
  </div>
  <div class="cont">
    <div class="login-box">
      <!-- <h2>Connexion</h2> -->
      <img src="../../../../assets/name_login.png" width="150" alt="" srcset="">
      <form (ngSubmit)="login()">
        <div class="form-group">
          <label for="username">Nom d'utilisateur</label>
          <input type="text" id="username" name="username" [(ngModel)]="agentData.username" required>
        </div>
        <div class="form-group">
          <label for="password">Mot de passe</label>
          <input type="password" id="password" name="agentPassword" [(ngModel)]="agentData.agentPassword" required>
        </div>
        <button type="submit">Se connecter</button>
      </form>
    </div>
  </div>

  