<div class="card">

  Nouveau matériel

  <mat-progress-spinner class = "registering" [mode] = "'indeterminate'" *ngIf = "showSpinner" ></mat-progress-spinner>

  <form (ngSubmit) = "registerUser()">
    <!-- <form [formGroup]="formGroup"> -->

    <div class="form-group p-4" *ngIf="!showSpinner">

      <!-- Nature -->
      <div class="form-item">
        <mat-form-field appearance="fill">
          <mat-label>Nature du matériel</mat-label>
          <mat-select name = "natureMat" [(ngModel)]="dataMateriel.natureMat">
            <!-- <mat-option *ngFor="let role of roles" [value]="role.id">
              {{role.name}}
            </mat-option> -->
            <mat-option>Informatique</mat-option>
            <mat-option>Administratif</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Type -->
      <div class="form-item">
        <mat-form-field appearance="fill">
          <mat-label>Type du matériel</mat-label>
          <mat-select name = "natureMat" [(ngModel)]="dataMateriel.natureMat">
            <!-- <mat-option *ngFor="let role of roles" [value]="role.id">
              {{role.name}}
            </mat-option> -->
            <mat-option>Imprimante</mat-option>
            <mat-option>Ordinateur</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Libelle -->
      <div class="form-item">
        <mat-form-field class="example-full-width">
          <mat-label>Libellé</mat-label>
          <div class="d-flex">
            <!-- <span class="material-icons">
              person
            </span> -->
            <input name = "libelleMat" [(ngModel)] = "dataMateriel.libelleMat" matInput>
          </div>
        </mat-form-field>
      </div>

      <!-- Marque -->
      <div class="form-item">
        <mat-form-field appearance="fill">
          <mat-label>Marque</mat-label>
          <mat-select name = "natureMat" [(ngModel)]="dataMateriel.natureMat">
            <!-- <mat-option *ngFor="let role of roles" [value]="role.id">
              {{role.name}}
            </mat-option> -->
            <mat-option>HP</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Modele -->
      <div class="form-item">
        <mat-form-field appearance="fill">
          <mat-label>Modèle</mat-label>
          <mat-select name = "natureMat" [(ngModel)]="dataMateriel.natureMat">
            <!-- <mat-option *ngFor="let role of roles" [value]="role.id">
              {{role.name}}
            </mat-option> -->
            <mat-option>Imprimante</mat-option>
            <mat-option>Ordinateur</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Num dévis -->
      <div class="form-item">
        <mat-form-field class="example-full-width">
          <mat-label>Numéro dévis</mat-label>
          <div class="d-flex">
            <input name = "libelleMat" [(ngModel)] = "dataMateriel.libelleMat" matInput>
          </div>
        </mat-form-field>
      </div>

      <!-- Num dévis -->
      <div class="form-item">
        <mat-form-field class="example-full-width">
          <mat-label>Quantité</mat-label>
          <div class="d-flex">
            <input name = "libelleMat" [(ngModel)] = "dataMateriel.libelleMat" matInput>
          </div>
        </mat-form-field>
      </div>+

      <!-- Type de livraison -->
      <div class="form-item">
        <mat-form-field appearance="fill">
          <mat-label>Type livraison</mat-label>
          <mat-select name = "natureMat" [(ngModel)]="dataMateriel.natureMat">
            <!-- <mat-option *ngFor="let role of roles" [value]="role.id">
              {{role.name}}
            </mat-option> -->
            <mat-option>Partielle</mat-option>
            <mat-option>Complête</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Fournisseur -->
      <div class="form-item">
        <mat-form-field appearance="fill">
          <mat-label>Fournisseur</mat-label>
          <mat-select name = "natureMat" [(ngModel)]="dataMateriel.natureMat">
            <!-- <mat-option *ngFor="let role of roles" [value]="role.id">
              {{role.name}}
            </mat-option> -->
            <mat-option>SOPARIS</mat-option>
            <mat-option>FNAC</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </div>

    <div class="btn-group p-4">
      <button class="annuler" (click) = "cancelCreation()">Annuler</button>
      <button type="submit" (click) = "registerUser()">Valider</button>
      <!-- <button type="submit" >Valider</button> -->
    </div>

  </form>

</div>
