/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
:root {
    --primary-luka-color: dodgerblue;
    --primary-active-luka-color: rgb(0, 121, 241);
    --blue-luka-color: dodgerblue;
    --blue-active-luka-color: rgb(28, 113, 199);
    --green-luka-color: #556B2F;
    // --green-luka-color: #e0e0e0;
    --green-olive-luka-color: #006400;
    --green-active-luka-color: rgb(2, 103, 2);
    --green-second-luka-color: rgba(0, 222, 111, 0.886); // rgba(0, 222, 111, 0.886)
    --green-second-active-luka-color: rgb(29, 192, 110);
    --orange-luka-color: orange;
    --orange-active-luka-color: rgb(255, 111, 0);
    --yellow-luka-color: rgb(240, 240, 27);
    --yellow-active-luka-color: rgb(207, 207, 4);
    --pink-luka-color: rgb(242, 85, 161);
    --pink-active-luka-color: rgb(175, 25, 97);
  
  
    --secondary-luka-color: rgb(81, 168, 255);
    --danger-luka-color: rgb(253, 124, 124); //rgb(255, 72, 72)
    --white-luka-color: rgb(255, 149, 149);
    --grey-luka-color: rgb(209, 232, 255);

    --title1-text-size: 13px;
    --title2-text-size: 12px;
    --title3-text-size: 11px;

  
    // --orange-luka-color: rgb(255, 192, 76);
  
    --box-shadow: 0 0 10px #0000009d!important; // #000000ba
  
  }
  html, body { height: 100%; }
  body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; font-size: 13px; }
  .page_container {
      display: flex;
      flex-direction: column;
      height: 100%;
  }
  mat-sidenav-container {
      flex: 1;
  }
  
  .side-menu {
      display: flex;
      flex-direction: column;
  
      .item-menu {
  
          display: flex;
          align-items: center;
          padding: 5px 5px 5px 15px;
          color: white;
          user-select: none;
          outline: none;
          cursor: pointer;
  
          .item-menu-label {
              margin-left: 10px;
          }
      }
  }
  html, body { height: 100%; }
  body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
  
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.progress_spinner {
    width: 35px!important;
    height: 35px!important;
}

mat-dialog-container {
    // border: solid 1px red;
    border-radius: 10px;
    overflow: hidden;
}

* {
    font-size: var(--title3-text-size);
}

