<div class="root_container">
    <div class="toolsbar d-flex">
        <div class="page_title d-flex">
            <h3> Liste des produits </h3>
        </div>
        <mat-card>
            <mat-card-actions class="d-flex justify-content-between">
                <div>
                    <button mat-mini-fab class="button-color add" color="primary" aria-label="Example fab with a heart icon" (click)="modalRegisterPharmacy()">
                        <mat-icon matPrefix>add</mat-icon>
                    </button>

                    <button disabled mat-mini-fab class="button-color add_cloud" color="primary" aria-label="Example fab with a heart icon" >
                        <mat-icon matPrefix>cloud_download</mat-icon>
                    </button>
                </div>
                <div class="input_container d-flex align-items-center">
                    <mat-icon matPrefix>search</mat-icon>
                    <input matInput placeholder="Rechercher...">
                </div>
                <div class="">
                    <button mat-mini-fab class="update button-color" color="primary" aria-label="Example fab with a heart icon" (click)="modalRegisterPharmacy()">
                        <mat-icon matPrefix>change_circle</mat-icon>
                    </button>

                    <!-- <button mat-mini-fab class="remove button-color" color="danger" aria-label="Example fab with a heart icon" (click)="modalRegisterPharmacy()">
                        <mat-icon matPrefix>delete</mat-icon>
                    </button> -->
                    <button mat-mini-fab class="filter button-color" color="primary" aria-label="Example fab with a heart icon" (click)="modalRegisterPharmacy()">
                        <mat-icon matPrefix>calendar_today</mat-icon>
                    </button>
                    <button mat-mini-fab class="more button-color" color="primary" aria-label="Example fab with a heart icon" (click)="modalRegisterPharmacy()">
                        <mat-icon matPrefix>more_vert</mat-icon>
                    </button>
                </div>
            </mat-card-actions>
    
            <mat-card-footer>
        
            </mat-card-footer>
        </mat-card>
    </div>

    <!-- <div class="head">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <th *ngFor="let column of columnsToDisplay">{{column}}</th>
        </table>
    </div> -->
    <div class="table_container">

        <table mat-table
            [dataSource]="dataSource" multiTemplateDataRows
            class="mat-elevation-z8">
            <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
                <th mat-header-cell *matHeaderCellDef> {{column | uppercase}}</th>
                <td mat-cell *matCellDef="let element"> {{element.produit[column]}} </td>
            </ng-container>

            <ng-container matColumnDef="expand">
                <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                <td mat-cell *matCellDef="let element">
                <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
                    <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
                    <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
                </button>
                </td>
            </ng-container>

            <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
                <div class="element-detail"
                        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <div class="elt">
                        <div class="element-diagram">
                            <img src="../../../../assets/pills-161087_1920.png" alt="" srcset="">
                        </div>
                        <div class="element-name"> {{element.produit.nomProduit}} </div>
    
                    </div>
                    <div class="infos">
                        <div class="element-constituant">
                            <mat-label>Constituants</mat-label>
                            <div class="d-flex">
                                <span class="constituant-item" *ngFor="let ct of element.produit.constituants">{{ct}} &nbsp;</span>
                            </div>
                        </div>
                        <div class="element-description">
                            <mat-label>Description</mat-label>
                            {{element.produit.description}}
                        <span class="element-description-attribution"> </span>
                        </div>
                    </div>
                </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
            <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
                class="example-element-row"
                [class.example-expanded-row]="expandedElement === element"
                (click)="expandedElement = expandedElement === element ? null : element.produit">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
     </table>        
    </div>

</div>