<div class="card">


  <mat-progress-spinner class = "registering" [mode] = "'indeterminate'" *ngIf = "showSpinner" ></mat-progress-spinner>

  <form>
    <!-- <form [formGroup]="formGroup"> -->


      <div class="banner" style = "text-align: center;">Enregistrement</div>

    <div class="form-group p-4" *ngIf="!showSpinner">

      <!-- Nature -->
      <div class="form-item">
        <mat-form-field appearance="fill">
          <mat-label>Nature du matériel</mat-label>
          <mat-select name = "natureMat" [(ngModel)]="dataMateriel.natureMat">
            <!-- <mat-option *ngFor="let role of roles" [value]="role.id">
              {{role.name}}
            </mat-option> -->
            <mat-option [value]="'INFORMATIQUE'">Informatique</mat-option>
            <!-- <mat-option>Administratif</mat-option> -->
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Type -->
      <div class="form-item">
        <mat-form-field appearance="fill">
          <mat-label>Type du matériel</mat-label>
          <mat-select name = "typeMat" [(ngModel)]="dataMateriel.type">
            <mat-option *ngFor="let type of types" [value]="type.idType">
              {{type.nomType}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Libelle -->
      <div class="form-item">
        <mat-form-field class="example-full-width">
          <mat-label>Libellé</mat-label>
          <div class="d-flex">
            <!-- <span class="material-icons">
              person
            </span> -->
            <input name = "libelleMat" [(ngModel)]="dataMateriel.libelleMat" matInput>
          </div>
        </mat-form-field>
      </div>

      <!-- Marque -->
      <div class="form-item">
        <mat-form-field appearance="fill">
          <mat-label>Marque</mat-label>
          <mat-select name = "marqueMat" [(ngModel)]="dataMateriel.marque">
            <mat-option *ngFor="let marque of marques" [value]="marque.idMarque">
              {{marque.nomMarque}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Modele -->
      <div class="form-item">
        <mat-form-field appearance="fill">
          <mat-label>Modèle</mat-label>
          <mat-select name = "modeleMat" [(ngModel)]="dataMateriel.modele">
            <mat-option *ngFor="let modele of modeles" [value]="modele.idModele">
              {{modele.nomModele}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

            <!-- Libelle -->
            <!-- <div class="form-item">
              <mat-form-field class="example-full-width">
                <mat-label>Modele</mat-label>
                <div class="d-flex">
                  <input name = "marqueMat" [(ngModel)]="dataMateriel.modele" matInput>
                </div>
              </mat-form-field>
            </div> -->


    </div>

    <div class="btn-group p-4">
      <button class="annuler" (click) = "cancelCreation()">Annuler</button>
      <button type="submit" (click) = "registerMateriel()">Valider</button>
      <!-- <button type="submit" >Valider</button> -->
    </div>

  </form>

</div>
