.root_container {
    // padding: 40px 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.img_container {
    // display: flex;
    // padding: 20px;
    height: 100%;
    overflow: hidden;

    img {
        // flex: 1;
        width: 100%;
    }
}

mat-form-field {
    // border: solid 1px red;
    width: 100%;
}

.left {
    margin-right: 2px;
}

.right {
    margin-left: 2px;
}


.btn-group {
    display: flex;
    width: 100%;
    margin-top: 20px;
  }



.absolute {
    // position: absolute;
    // top: 0;
    // border: solid 1px red;
    width: 100%;
}
.row_ {
    flex: 1;
    height: 100vh;
    display: flex;
}
.elt-left {
    flex: 1;
    background-image: url('../../../../assets/poste-cote-infirmiere.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;   
}

.elt-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // border: solid 1px yellow;
    max-width: 400px;
    // max-width: 340px;
    box-shadow: -6px 0 10px #0000006e;
    width: 100%;
    height: 100%;    
    // overflow-y: scroll;
}

.show_spinner {
    width: 500px;
}

.img_login {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    img {
        width: 200px;
    }
}
.form_container {
    // border: solid 1px grey;
    padding: 5px 16px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    form {
        display: flex;
        flex-direction: column;

        input, mat-select {
            margin: 5px 0;
            border: solid 1.5px rgb(213, 212, 212); //rgb(0, 178, 210)
            border-radius: 5px;
            width: 100%;
            height: 35px;
            padding: 5px 16px;
            outline: none;
            background-color: var(--app-luka-azure-bg-color);
        }

        .border_alert {
            border: solid 1.5px #ff0000; //rgb(0, 178, 210)
            animation: colorChange 4s linear infinite;
        }

        @keyframes colorChange {
            0% {
              border: solid 1.5px #ff0000; /* Couleur initiale */
            }
            50% {
              border: solid 1.5px #ffe3e3; /* Couleur intermédiaire */
            }
            100% {
              border: solid 1.5px #ff0000; /* Retour à la couleur initiale */
            }
          }
          
    }
}


button{
    flex: 1;
    border: solid 3px transparent;
    margin: 10px 2px;
    padding: 10px;
    background-color: var(--green-olive-luka-color);
    // box-shadow: 0 0 6px grey;
    --color: #fff;
    font-weight: 600;
    font-size: 13px;
    transition: .2s;

    // border-radius: 5px;
}

button:active {
    box-shadow: 0 0 2px grey;
    background-color: var(--green-active-luka-color);
    color: #ffffff83;
    transition: .2s;

}



